body {
	font-family:Arial,"Microsoft YaHei",SimHei,sans-serif,serif,"Segoe UI Emoji";
	margin:0;
}

p {margin:0}

hr {
	border-style:solid;
	border-radius:1px;
}

button {
	color:inherit;
	font-family:inherit;
	border:solid 2px #000000;
	outline:none;
	border-radius:4px;
}
.BSIF-default button{background-color:hsl(0 0% 100%)}
.BSIF-default button:hover,button:disabled:hover{background-color:hsl(0 0% 90%)}
.BSIF-default button:active{background-color:hsl(0 0% 80%)}
.BSIF-default button:disabled{opacity:0.4}
.BSIF-default button:disabled:hover{background-color:hsl(0 0% 100%)}

button,input[type="radio"] {cursor:pointer}

/* 鼠标样式
body {
	cursor:url();
}
*/

/* 文字换行
	word-wrap:break-word;
	word-break:normal;
*/