#information_box_frame {
	width:1024px;
	height:576px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
}
#information_frame {
	width:100%;
	height:100%;
	background-color:#FFFFFF;
	margin-bottom:5px;
	border-radius:10px;
	padding:10px;
	box-sizing:border-box;
	overflow:hidden;
	display:grid;
	grid-template-rows:repeat(4,1fr);
	grid-template-columns:repeat(4,1fr);
	grid-gap:10px;
	grid-template-areas:"large large large .""large large large .""large large large .""all projects applets developments";
}
.information_box {
	position:relative;
	background-color:#BDD1DC;
	border-radius:5px;
	box-sizing:border-box;
	overflow:hidden;
}
.collection {
	display:grid;
	padding:10px;
	grid-template-rows:64px 1fr;
	grid-gap:10px;
	place-items:center;
}
.collection>div {
	width:64px;
	height:64px;
	background-image:url("/images/informations/icons/entrances.svg");
	background-size:200%;
}
.collection>span{font-weight:bold}
#information_box_large {
	grid-area:large
}
@keyframes InformationLoading {
	from{background-color:#6F90A0}
	to{background-color:#D0F0FF}
}
.information_box.loading {animation:InformationLoading 2s cubic-bezier(0.5,0,0.5,1) alternate infinite forwards running}
@keyframes InformationLoadingCircle {
	from{transform:rotate(0)}
	to{transform:rotate(1turn)}
}
.information_box.loading {background-color:#6F90A0}
.information_box.loading::before {
	content:"";
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	width:32px;
	height:32px;
	box-sizing:border-box;
	background-color:transparent;
	border:solid 2px;
	border-color:#0080FF #0080FF transparent transparent;
	border-radius:50%;
	transform-origin:center;
	animation:InformationLoadingCircle 1s linear infinite forwards running;
}
#information_all_message {
	background-color:#FFC000;
	grid-area:all;
}
#information_all_message>div{background-position:0 0}
#information_projects {
	background-color:#FF4040;
	grid-area:projects;
	background-position:0 0;
}
#information_projects>div{background-position:-64px 0}
#information_applets {
	background-color:#00FF40;
	grid-area:applets;
	background-position:0 0;
}
#information_applets>div{background-position:0 -64px}
#information_developments {
	background-color:#0080FF;
	grid-area:developments;
	background-position:0 0;
}
#information_developments>div{background-position:-64px -64px}
#information_box_large_scroll {
	display:grid;
	position:relative;
	height:100%;
	opacity:0;
	left:0;
	transition-property:left,opacity;
	transition-duration:0.4s;
	transition-timing-function:ease-in-out;
}
.information_box_large_content {
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
	cursor:pointer;
}
.information_box_large_image {
	width:100%;
	height:100%;
	position:absolute;
	background-color:#6F90A0;
	background-size:cover;
	transition:transform 0.2s ease-in-out;
}
.information_box_large_content:hover>.information_box_large_image{transform:scale(1.1)}
.information_box_large_content:active>.information_box_large_image{transform:scale(1.05)}
.information_box_large_text {
	box-sizing:border-box;
	width:100%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	background-color:rgba(0,0,0,50%);
	position:absolute;
	bottom:0;
	padding:0.5em;
	color:#FFFFFF;
}
.information_box_large_content.none,.information_box_large_content.no{cursor:default}
.information_box_large_content.no>.information_box_large_image,.information_box_large_content.none>.information_box_large_image{transform:none}
.information_box_large_content.none>.information_box_large_text{text-align:center}
.information_box_large_content.none>.information_box_large_text>.emoji{font-size:2em}
#information_box_large_pagination {
	display:none;
	opacity:0;
	background-color:rgba(0,0,0,50%);
	box-sizing:border-box;
	padding:0.125em 0.5em;
	grid-gap:0.5em;
	position:absolute;
	width:1em;
	margin:0 auto;
	top:0;left:0;right:0;
	transition-property:opacity,padding;
	transition-duration:0.4s;
	transition-timing-function:ease-in-out;
	border-radius:0 0 0.5em 0.5em;
}
#information_box_large_pagination.on{opacity:0.5}
#information_box_large_pagination:hover{
	opacity:1;
	padding:0.5em;
}
.information_box_large_pagination {
	position:relative;
	z-index:2;
	appearance:none;
	display:block;
	margin:0;
	box-sizing:border-box;
	font-size:inherit;
	width:1em;
	height:0.25em;
	background-color:#FFFFFF;
	border-radius:0.125em;
	outline:none;
	overflow:hidden;
	transition:all 0.4s ease-in-out;
}
.information_box_large_pagination:hover{background-color:#FFC000}
.information_box_large_pagination:active{background-color:#00C000}
#information_box_large_pagination_float,.information_box_large_pagination:checked{background-color:#00C0FF}
#information_box_large_pagination:hover>.information_box_large_pagination{height:1em}
#information_box_large_pagination_float {
	position:absolute;
	z-index:1;
	left:0.5em;
	top:0.125em;
	transform:translateX(0);
}
#information_box_large_pagination:hover>#information_box_large_pagination_float{top:0.5em}