:root {--layout:mobile}
#top {
	height: 3em;
	grid-template-columns: auto 1fr;
	justify-content: start;
	gap: 0.5em;
}
#sign {width: 3em}
#logo {
	place-self: center;
	width: 2em;
	height: 2em;
}
#site {display: none}
#mobile_top {
	display: grid;
	height: 100%;
	grid-template-columns: 3em 1fr;
	gap: 0.5em;
}
#navigation_switch {
	position: relative;
	place-self: center;
	width: 2rem;
	height: 2rem;
	box-sizing: border-box;
	border: none;
	border-radius: 0.25em;
	overflow: hidden;
}
#navigation_switch:hover {background-color: var(--hoverColor)}
#navigation_switch:active {background-color: var(--interfaceColor)}
#navigation_switch>div {
	position: absolute;
	left: 0.25rem;
	width: 1.5rem;
	height: 0.25rem;
	border-radius: 0.125rem;
	background-color: black;
	transition: all 0.2s ease-in-out;
}
#navigation_switch>:nth-child(1) {
	transform-origin: 1.375rem 50%;
	top: 0.375rem;
}
#navigation_switch>:nth-child(2) {
	transform-origin: center;
	top: 0.875rem;
}
#navigation_switch>:nth-child(3) {
	transform-origin: 1.375rem 50%;
	top: 1.375rem;
}
#navigation_switch.on>:nth-child(1) {
	transform: translateY(-0.125rem) rotate(-45deg);
	transform-origin: 0.75rem 50%;
	width: 0.875rem;
}
#navigation_switch.on>:nth-child(2) {transform: rotate(-90deg)}
#navigation_switch.on>:nth-child(3) {
	transform: translateY(-1.125rem) rotate(-135deg);
	transform-origin: 0.75rem 50%;
	width: 0.875rem;
}
#tab_title {
	align-self: center;
	font-weight: bold;
}
#navigation {
	position: fixed;
	left: 0;
	top: 3em;
	bottom: 100%;
	width: 100%;
	display: block;
	background-color: rgba(128,128,128,0.5);
	backdrop-filter: blur(2px);
	transition: bottom 0.2s ease-in;
	overflow: hidden auto;
}
#navigation.open {bottom: 0}
#navigation.slim>* {
	display: none;
}
.navigation {
	display: block;
	margin-top: 0.25rem;
	width: 100%;
	height: 2.5rem;
	border-radius: 0;
	border: none;
	border-color: var(--softEdge);
	background-color: rgba(0,0,0,0.5);
	color: white;
}
.navigation:hover {background-color: rgba(0,0,0,0.625)}
.navigation.current {
	color: var(--activeColor);
	background-color: rgba(0,0,0,0.75);
}