body {
	background-color:#92C1DC;
	color:#000000;
	font-family:Arial,"Microsoft YaHei",SimHei,sans-serif,serif,"Segoe UI Emoji";
	margin:0;
	}

h1,h2,h3,h4,h5,h6,p {
	display:inline;
}

hr {
	border-style:solid;
	border-radius:1px;
}

button {
	color:inherit;
	cursor: pointer;
	font: inherit;
	border-style:solid;
	outline:none;
}

a {text-decoration:none}
a:link {color:#007FFF}
a:visited {color:#007FFF}
a:hover {color:#92C1DC}
a:active {color:#4B97C5}

#top {
	width:100%;
	height:155px;
	left:0;
	top:0;
	position:fixed;
	z-index:20;
	text-align:center;
}

#top_frame {
	width:1024px;
	height:100px;
	margin:5px auto;
}

#logo {
	width:100px;
	height:100px;
	margin:0 10px 0 0;
	float:left;
	background-image:url(/Images/logo.png);
	background-size:100%;
	background-repeat:no-repeat;
}

#title {
	width:auto;
	height:auto;
	color:#FFFFFF;
	text-align:left;
	font-size:40px;
	padding:30px 0;
}

#navigation_frame {
	height:40px;
	width:100%;
	text-align:center;
	background-color:#FFFFFF;
}

#navigation {
	width:800px;
	height:100%;
	list-style-type:none;
	overflow:hidden;
	margin:0 auto;
	padding:0;
	position:relative;
}

.navigation {
	float:left;
	width:200px;
	font-size:15px;
	font-weight:bold;
	padding:10px 0;
	z-index:23;
	position:relative;
}

.navigation:link,.navigation:visited,.navigation:hover,.navigation:active {
	color:#000000;
}

#nav_pointer,#nav_hover_pointer {
	width:0;
	height:0;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-bottom:10px solid #92C1DC;
	z-index:22;
	position:absolute;
	left:90px;
	bottom:0px;
	transition:all 0.4s ease-in-out;
}

#nav_hover_pointer {
	border-bottom:0 solid #92C1DC;
	z-index:21;
	transition:all 0.2s ease-in-out;
}

#page_box {
	position:fixed;
	top:155px;
	bottom:0;
	left:0;
	right:0;
	z-index:0;
	overflow:auto;
}

#window_board_layer {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: #000000;
	opacity: 0;
	transition: all 0.5s;
	display: none;
}

/* 鼠标样式
body {
	cursor:url();
}
*/

/* 文字换行
	word-wrap:break-word;
	word-break:normal;
*/