:root {height: 100%}
body {
	display: grid;
	height: 100%;
	grid-template-rows: auto 1fr;
	gap: 0.25em;
	background-color:var(--background-color);
}
#top {
	position: relative;
	z-index: 2;
	width: 100%;
	box-sizing: content-box;
	background-color: white;
	display: grid;
	overflow: hidden;
}
#sign {
	display: grid;
	height: 100%;
}
#navigation {display: grid}
#page-box {
	position: relative;
	overflow: auto;
	z-index: 1;
}