#box_frame {
	width:1024px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
}

.prj_box {
	width:100%;
	margin:0 0 5px 0;
	background-color:#FFFFFF;
	border-radius:10px;
	padding:20px 20px 20px 20px;
	box-sizing:border-box;
	position:relative;
	overflow:hidden;
}

