#project_box_frame {
	width:1024px;
	height:576px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
}
.prj_box {
	width:100%;
	height:100%;
	background-color:#FFFFFF;
	margin-bottom:5px;
	border-radius:10px;
	padding:20px;
	box-sizing:border-box;
	overflow:auto;
	word-wrap:break-word;
	word-break:normal;
}

body {
	background-color:black;
}
h1,p{display:inline}