#box_frame {
	width:1024px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
}

#show_box {
	width:100%;
	margin:0;
}

.card {
	width:507px;
	height:130px;
	background-color:#FFFFFF;
	border-radius:10px;
	padding:15px;
	box-sizing:border-box;
	position:relative;
	margin:0 10px 10px 0;
	float:left;
}

.card:nth-child(2n) {
	margin:0 0 10px 0;
}

.card_icon {
	width:100px;
	height:100px;
	background-color:#92C1DC;
	border-radius:5px;
	box-sizing:border-box;
	float:left;
	margin:0 15px 0 0;
	overflow:hidden;
}

.card_name {
	top:15px;
	left:130px;
	font-size:30px;
	width:362px;
	margin:0 0 5px 0;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	position:absolute;
}

.card_type {
	top:60px;
	left:130px;
	font-size:15px;
	width:362px;
	margin:0 0 5px 0;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	position:absolute;
}

/* 测试视图 */

/*
body {
	background-color:#92C1DC;
	color:#000000;
	font-family:Arial,'Microsoft YaHei',SimHei,sans-serif,serif;
	}

h1,h2,h3,h4,h5,h6,p {
	display:inline;
}

a{text-decoration:none}
*/