#page-box-resource {
	margin: 0 auto;
	display: grid;
	max-width: 64em;
	width: 100%;
	height: 100%;
	grid-template-rows: 2.25em 1fr;
	gap: 0.25em;
	overflow: hidden;
}
#resource-search {
	box-sizing: border-box;
	width: 100%;
	border-radius: 0.5em;
	background-color: #FFFFFF;
	position: relative;
	padding: 0.25em;
	overflow: hidden;
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0.25em;
}
#resource-search>* {height: 100%}
#resource-search-button {
	position: relative;
	border: none;
	border-radius: 0.3125rem;
	overflow: hidden;
	font-size: 0.875rem;
	background-color: #92C1DC;
	transition: background-color 0.2s ease-in-out;
}
#resource-search-button:hover {background-color: #87CEFA}
#resource-search-button:active {
	transition: all 0s;
	background-color: #80C4ED
}
#resource-search-button>* {vertical-align: middle}
#resource-search-state {
	display: inline-block;
	width: 1.25rem;
	height: 1.25rem;
	position: relative;
	margin-right: 0.125rem;
}
#resource-search-state:before {
	content: "";
	display: block;
	background-color: #000000;
	width: 0.5625rem;
	height: 0.125rem;
	border-radius: 0 0.0625rem 0.0625rem 0;
	transform: rotateZ(45deg);
	position: absolute;
	right: 0.0625rem;
	bottom: 0;
	transform-origin: right center;
}
#resource-search-state:after {
	content: "";
	display: block;
	width: 1rem;
	height: 1rem;
	position: absolute;
	background-color: transparent;
	box-sizing: border-box;
	border: solid 0.125rem #000000;
	border-radius: 50%;
}
#resource-search-state.waiting:after {background-color: #FFFF00}
#resource-search-state.searching:after {background-color: #00FF00}
#resource-search-input {
	border: solid 0.0625rem;
	border-radius: 0.25rem;
	padding: 0.25rem;
}
#resource-show-box {
	width: 100%;
	display: grid;
	grid-template-rows: 1fr;
	gap: 0.25em;
	overflow: hidden;
}
#resource-show-box.multiPage {grid-template-rows: 2.25em 1fr}
#resource-show-box.multiPage>#resource-show-pagination {display: grid}
#resource-show-pagination {
	box-sizing: border-box;
	width: 100%;
	border-radius: 0.5em;
	background-color: #FFFFFF;
	position: relative;
	padding: 0.25em;
	overflow: hidden;
	display: none;
	justify-content: center;
	grid-template-columns: repeat(3, auto);
	gap: 0.25em;
}
#resource-show-pagination>* {height: 100%}
#resource-show-pagination>button {
	position: relative;
	box-sizing: border-box;
	border-radius: 0.25em;
	border: none;
	overflow: hidden;
	background-color: #92C1DC;
	transition: background-color 0.2s ease-in-out;
}
#resource-show-pagination>button:hover {background-color: #87CEFA}
#resource-show-pagination>button:active {
	transition: all 0s;
	background-color: #80C4ED
}
#resource-pagination-display {
	display: grid;
	grid-template-columns: repeat(5, auto);
	place-content: center;
	place-items: center;
	font-size: 0.9375rem
}
#resource-pagination-select {
	width: 3em;
	border: solid 0.0625rem var(--soft-edge);
	border-radius: 0.25rem;
	text-align: center;
}
#resource-pagination-select::-webkit-inner-spin-button {-webkit-appearance: none}
#resource-show-area-frame {overflow: hidden auto}
#resource-show-area {
	display: grid;
	grid-auto-rows: 8.25em;
	grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
	gap: 0.25em;
}
@media all and (min-width:48rem) {
	#resource-show-area {grid-template-columns: repeat(2, 1fr)}
}
#resource-show-area::before {
	font-size: 0.875rem;
	place-self: start center;
	margin-top: 2rem;
	background-color: rgba(255, 255, 255, 0.5);
	color: var(--content-color);
	border-radius: 0.125rem;
	padding: 0.125rem 0.5rem;
}
#resource-show-area.loading>*,
#resource-show-area.empty {grid-template-columns: 1fr}
#resource-show-area.empty>* {display: none}
#resource-show-area.loading::before {content: "正在加载……"}
#resource-show-area.empty::before {content: "没有找到资源……"}
.resource-card {
	box-sizing: border-box;
	border-radius: 0.5em;
	padding: 1em;
	display: grid;
	grid-template-columns: 6.25em 1fr;
	column-gap: 1em;
	grid-template-rows: 1.25em 1.125em 1.125em 2em;
	row-gap: 0.25em;
	grid-auto-flow: column;
	grid-template-areas: "icon name" "icon media" "icon content" "icon detail";
	background-color: #FFFFFF;
	user-select: text;
}
.resource-card-icon {
	grid-area: icon;
	background-color: var(--background-color);
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 0.25em;
	overflow: hidden;
}
.resource-card-icon.none:before {
	content: "No Image";
	display: flex;
	width: 100%;
	height: 100%;
	place-content: center;
	place-items: center;
	color: #FFFFFF;
	font-size: 1.25em;
	font-weight: bold;
}
.resource-card-name {
	font-size: 1em;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.resource-card-media,
.resource-card-content {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 0.75rem;
}
.resource-card-tag {
	box-sizing: border-box;
	display: inline-block;
	height: 100%;
	margin-inline-end: 0.25rem;
	border-radius: 0.125rem;
	padding: 0.125rem;
	color: var(--content-color);
	background-color: #C0E0F0;
	overflow: hidden;
}
.resource-card-detail {
	place-self: start;
	position: relative;
	background-color: #4080FF;
	color: #FFFFFF;
	height: 100%;
	padding: 0.25rem 2rem;
	border-radius: 0.5rem;
	border: none;
	overflow: hidden;
	white-space: nowrap;
	transition: background-color 0.2s ease-in-out;
}
.resource-card-detail:hover {
	background-color: #60A0FF;
}
.resource-card-detail:active {
	transition-duration: 0s;
	background-color: #3F7FEF;
}