#box_frame {
	width:1024px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
}

#show_box {
	width:100%;
	margin:0;
}

.card {
	width:507px;
	height:130px;
	background-color:#FFFFFF;
	border-radius:10px;
	padding:15px;
	box-sizing:border-box;
	position:relative;
	z-index:10;
	margin:0 10px 10px 0;
	float:left;
}

.card:nth-child(2n) {
	margin:0 0 10px 0;
}

.card_icon {
	width:100px;
	height:100px;
	background-color:#92C1DC;
	background-size:100px;
	background-repeat:no-repeat;
	border-radius:5px;
	box-sizing:border-box;
	float:left;
	margin:0 15px 0 0;
	overflow:hidden;
}

.card_name {
	position:absolute;
	top:15px;
	left:130px;
	font-size:30px;
	width:362px;
	margin:0 0 5px 0;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.card_type {
	position:absolute;
	top:60px;
	left:130px;
	font-size:15px;
	width:362px;
	margin:0 0 5px 0;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.card_link {
	position:absolute;
	top:85px;
	left:130px;
	font-size:15px;
	height:30px;
	width:362px;
	margin:0;
}

.card_link_button {
	height:30px;
	margin:0 6px 0 0;
	padding:3px;
	border-radius:6px;
	border:none;
	transition:all 0.4s ease-in-out;
}

.card_link_button_BDND {
	background-color:#3B8CFF;
	color:#FFFFFF;
}

.card_link_button_BDND:hover {
	background-color:#76C7FF;
}

.card_link_button_Torrent {
	background-color:#00FF00;
}

.card_link_button_Torrent:hover {
	background-color:#7FFF7F;
}

.card_link_button_icon {
	height:24px;
	width:24px;
	margin:0 3px 0 0;
	border-radius:3px;
	box-sizing:border-box;
	float:left;
	background-size:24px;
	background-repeat:no-repeat;
}

.card_link_button_BDND .card_link_button_icon {
	background-image:url(/Images/third_party/icon/BaiduNetdisk.png);
}

.card_link_button_Torrent .card_link_button_icon {
	background-image:url(/Images/third_party/icon/Torrent.png);
}

.card_link_button_text {
	display:inline-block;
	margin:2px;
}

.card_link_button_BDND .card_link_button_text:before {
	content:"百度网盘";
}

.card_link_button_Torrent .card_link_button_text:before {
	content:"磁力链接";
}

.card_board {
	position:absolute;
	right:15px;
	top:15px;
	height:100px;
	width:0;
	border-radius:5px;
	box-sizing:border-box;
	font-size:15px;
	background-color:#92C1DC;
	color:#000000;
	transition:width 0.4s ease-in-out;
}

.card_board a{text-decoration:underline}

.card_board a:link,.card_board a:visited,.card_board a:hover,.card_board a:active {
	color:#000000;
}

.card_board_BDND {
	background-color:#3B8CFF;
	color:#FFFFFF;
}

.card_board_BDND a:link,.card_board_BDND a:visited,.card_board_BDND a:hover,.card_board_BDND a:active {
	color:#FFFFFF;
}

.card_board_frame {
	height:90px;
	margin:5px;
	position:relative;
	overflow:hidden;
}

.card_board_title {
	height:24px;
	width:268px;
	overflow:hidden;
	margin:0 0 5px 0;
}

.card_board_title_icon {
	height:24px;
	width:24px;
	margin:0 5px 0 0;
	float:left;
	display:none;
	border-radius:3px;
	box-sizing:border-box;
	background-size:24px;
}

.card_board_BDND .card_board_title_icon{
	display:block;
	background-image:url(/Images/third_party/icon/BaiduNetdisk.png);
}

.card_board_title_text {
	display:block;
	margin:2px 0;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.card_board_BDND .card_board_title_text:before {
	content:"百度网盘";
}

.card_board_content {
	height:61px;
	width:352px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.card_board_detail {
	position:absolute;
	top:0;
	right:22px;
	height:20px;
	width:60px;
	background-color:#FFFFFF;
	color:#000000;
	border:none;
	font-size:12px;
	border-radius:3px;
}
.card_board_detail:before {
	content:"详细信息";
}

.card_board_close {
	background-color:transparent;
	position:absolute;
	width:20px;
	height:20px;
	border:none;
	right:0;
	top:0;
}

.card_board_close:before,.card_board_close:after {
	position:absolute;
	display:block;
	top:0;
	right:9px;
	width:2px;
	height:20px;
	content:"";
	border-style:solid;
	border-width:1px;
	box-sizing:border-box;
	border-color:#000000;
	transform:rotate(45deg);
}

.card_board_close:after {
	transform:rotate(135deg);
}

.card_board_BDND .card_board_close:before,.card_board_BDND .card_board_close:after {
	border-color:#FFFFFF;
}