body {
	background-color:#92C1DC;
	color:#000000;
	font-family:Arial,"Microsoft YaHei",SimHei,sans-serif,serif,"Segoe UI Emoji";
	}

h1,h2,h3,h4,h5,h6,p {
	display:inline;
}

button {
	color:inherit;
	cursor: pointer;
	font: inherit;
	border-style:solid;
	outline:none;
}

hr {
	border-style:solid;
	border-radius:1px;
}

a {text-decoration:none}