body,.body_color {
	background-color:#92C1DC;
	color:#000000;
}
a {text-decoration:none}
a:link {color:#007FFF}
a:visited {color:#007FFF}
a:hover {color:#92C1DC}
a:active {color:#4B97C5}
#tools_plate {
	width:1024px;
	box-sizing:border-box;
	margin:0 auto;
	left:0;
	right:0;
	position:fixed;
	background-color:rgba(0,0,0,50%);
	border:solid 5px #000000;
	border-top-width:0;
	border-radius:0 0 10px 10px;
	padding:10px;
	display:grid;
	grid-template-columns:1fr 10px 1fr;
	transition:transform 0.5s ease-in-out;
}
#tools_plate.off {transform:translateY(-100%)}
.test_tools {color:#FFFFFF}
#tool_select_files {
	height:50px;
	overflow:hidden;
	display:grid;
	grid-template-rows:1fr 1fr;
	grid-template-columns:1fr 1fr;
	grid-gap:5px;
	grid-template-areas:"name select" "mode select";
	place-items:center;
}
#tool_select_files_select {grid-area:select}
#tool_select_files_mode {
	display:grid;
	grid-area:mode;
	grid-template-columns:1fr 1fr;
	grid-gap:20px;
	place-items:center;
}
#tools_plate_switch {
	position:absolute;
	top:100%;
	left:0;
	right:0;
	margin:0 auto;
	width:50px;
	height:35px;
	background-color:inherit;
	border:inherit;
	border-radius:inherit;
	padding:0;
}
#tools_plate_switch_icon {
	width:30px;
	height:15px;
	margin:10px auto;
	position:relative;
	transition:transform 0.5s ease-in-out;
}
#tools_plate.on #tools_plate_switch_icon {transform:rotateX(180deg)}
#tools_plate_switch_icon:before,#tools_plate_switch_icon:after {
	content:"";
	display:block;
	box-sizing:border-box;
	background-color:#FFFFFF;
	width:15px;
	height:5px;
	border-radius:5px;
	position:absolute;
	left:calc(50% - 2.5px);
	bottom:2px;
	transform-origin:2.5px center;
	transform:rotate(-40deg);
}
#tools_plate_switch_icon:after {transform:rotate(-140deg)}