:root,body {height: 100%}

* {box-sizing: border-box}

h2,h3,p {display: inline}

input {outline: none}

button.default-color {
	background-color: var(--interfaceColor);
	color: #000;
}
button.default-color:hover {background-color: var(--hoverColor)}
button.default-color:active {background-color: var(--activeColor)}

body {
	margin: 0;
	background-color: #111;
	color: #FFF;
	overflow: hidden;
}
#open,#work {
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body.work>#work {display: grid}
body.open>#open {display: grid}

#open {
	grid-template-columns: minmax(0, 32rem);
	grid-template-rows: auto auto;
	place-content: center;
	padding: 4rem 2rem;
}

#icon {
	place-self: stretch;
	max-height: 100%;
	aspect-ratio: 1;
	overflow: hidden;
	background-image: url(icon-monochrome.svg);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#work {grid-template-rows: 2rem 1.5rem 1fr}

#select_file {
	place-self: center;
	font-size: 1rem;
	font-weight: bold;
	padding: 1rem;
	border: none;
	border-radius: 1rem;
}

#ui_frame {
	display: grid;
	height: 100%;
	overflow: hidden;
	grid-template-columns: auto 1fr;
}
#ui_frame > div {
	display: grid;
	grid-template-rows: 2rem 1fr;
	overflow: hidden;
}

#preview_frame {
	grid-template-areas: "title switch""preview preview";
	background-color: #333;
	position: relative;
}
#preview_frame.on {
	min-width: 12rem;
	max-width: 50vw;
	width: 16rem;
	grid-template-columns: 1fr 2rem;
}
#preview_frame.off {
	width: 2rem!important;
	grid-template-areas: "switch""title";
}
#preview_frame.off > div {display: none}
#preview_frame > span {
	grid-area: title;
	display: grid;
	place-content: center start;
	padding-inline-start: 0.5rem;
	font-size: 0.875rem;
}
#preview_frame.off > span {
	writing-mode: vertical-rl;
	text-orientation: sideways;
}
#preview_switch {
	grid-area: switch;
	place-self: center;
	height: 1.5rem;
	width: 1.5rem;
	border: none;
	background-color: transparent;
	background-image: url(buttons.svg);
	background-position: 0 -1rem;
}
#preview_switch:hover {background-color: #444}
#preview_switch:active {background-color: #111}
#preview_frame.off > #preview_switch {background-position: -1.5rem -1rem}
#preview_resize {
	position: absolute;
	right: 0;
	width: 0.25rem;
	height: 100%;
	cursor: ew-resize;
}

#editor_tabs {
	background-color: #222;
	padding-left: 0.5rem;
	display: grid;
	grid-auto-columns: min-content;
}
.editor_tab {
	min-width: 8rem;
	display: grid;
	grid-template-columns: 1fr 2rem;
	place-items: center;
	background-color: #333;
	border: none;
	border-radius: 0;
	padding: 0;
	color: #FFF;
}
.editor_tab.current {background-color: #111!important}
.editor_tab:hover {background-color: #333}
.editor_tab:active:focus {background-color: #444}
.editor_tab > span {
	font-size: 0.875rem;
	place-self: center start;
	padding-left: 0.5rem;
	word-break: keep-all;
}
.editor_tab_close {
	place-self: center;
	height: 1rem;
	width: 1rem;
	border: none;
	background-color: transparent;
	background-image: url(buttons.svg);
	background-position: 0 0;
}
.editor_tab_close:hover {background-color: #555}
.editor_tab_close:active {background-color: #000}

#file_name_frame,#menu {
	display: grid;
	height: 100%;
	padding: 0 0.5rem;
	white-space: nowrap;
}
#file_name_frame{
	background-color: #00BFFF;
	place-content: center start;
}
#file_name {
	overflow: hidden;
	text-overflow: ellipsis;
	color: #000;
}

#menu {
	background-color: #555;
	grid-auto-flow: column;
	grid-auto-columns: 5.1875rem;
}

.menu_item,.menu_option {
	height: 100%;
	display: grid;
	place-content: center start;
	padding: 0 0.25rem;
	font-size: 0.9375rem;
}
.menu_item {position: relative}
.menu_item:hover {background-color: #444}
.menu_item:focus-within {background-color: #333}
.menu_expand {
	display: none;
	position: absolute;
	z-index: 2;
	top: 100%;
	min-width: 100%;
	max-width: 15.625rem;
	background-color: #333;
	border: solid 0.0625rem #555;
}
.menu_item:focus-within>.menu_expand {
	display: grid;
	grid-auto-rows: 1.5rem;
}
.menu_option {
	background-color: transparent;
	color: #FFF;
	border: 0;
	border-radius: 0;
}
.menu_option:hover {background-color: #0060A0}
.menu_option:active:not(:hover) {background-color: #D08000}

#preview,#editor {
	height: 100%;
}

#preview {
	display: grid;
	grid-area: preview;
	padding: 0.5rem;
	grid-auto-rows: 1.375rem;
	line-height: 1.375rem;
	background-color: #222;
	color: #FFF;
	overflow: auto;
	white-space: nowrap;
}

.preview_key {
	margin-inline-end: 0.5rem;
	user-select: text;
}
.preview_key::after {content: ":"}

.preview_value {
	min-width: 100%;
	width: max-content;
	user-select: text;
}

.preview_value.string {color: #FFFF00}
.preview_value.number {color: #00FF00}
.preview_value.boolean {color: #0060FF}
.preview_value.null,.preview_value.undefined {color: #FF00FF}

.preview_value.object {
	border: 0;
	padding: 0;
	border-radius: 0;
}

.preview_value.object>summary {
	border: 0;
	margin: 0;
	padding: 0;
}

.preview_children {
	display: grid;
	margin-left: 2rem;
}

.preview_type.Array::before {content: "数组["}
.preview_type.Array::after {content: "]"}
.preview_type.Array {color: #FF0000}

.preview_type.Object::before {content: "对象{"}
.preview_type.Object::after {content: "}"}
.preview_type.Object {color: #00BFFF}

#editor {
	display: grid;
	grid-template-rows: 2rem 2rem 1fr;
	overflow: hidden;
}
#editor>div {
	display: grid;
	height: 100%;
}

#editor_index,#editor_indexor {
	background-color: #333;
	padding: 0 0.5rem;
	grid-template-columns: auto auto;
	justify-content: start;
	align-items: center;
	gap: 0.5rem;
}

#editor_index_set {
	border: solid #000 0.125rem;
	border-radius: 0.25rem;
	height: 1.5rem;
	width: 7rem;
	font-size: 0.875rem;
	text-align: end;
}

#editor_indexor_add {
	width: 1.5rem;
	height: 1.5rem;
}

#indexor_frame {
	padding: 0.5rem;
	overflow-y: auto;
	grid-auto-rows: min-content;
	gap: 0.5rem;
}

.indexor {
	display: grid;
	background-color: #444;
	padding: 0.5rem;
	border-radius: 0.5rem;
	gap: 0.5rem;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: repeat(3, 1.75rem);
	grid-template-areas: "title title remove""pathd path path""content content content";
	align-items: center;
}
.indexor>input {
	height: 1.75rem;
	border: 0;
	border-radius: 0.25rem;
	font-size: 1rem;
	padding: 0 0.375rem;
	background-color: #222;
	color: #FFF;
}
.indexor_title {
	grid-area: title;
	color: #00BFFF !important;
}
.indexor_remove {
	grid-area: remove;
	width: 1.75rem;
	height: 1.75rem;
	border: 0;
	background-color: #F00;
	display: block;
	position: relative;
}
.indexor_remove:hover {background-color: var(--hoverColor)}
.indexor_remove:active {background-color: var(--activeColor)}
.indexor_remove:before,.indexor_remove:after {
	content: "";
	position: absolute;
	display: block;
	background-color: #000;
	left: 0.25rem;
	right: 0.25rem;
	top: 0.8125rem;
	bottom: 0.8125rem;
	transform: rotate(45deg);
	border-radius: 0.0625rem;
}
.indexor_remove:after {transform: rotate(135deg)}
.indexor_path_d {grid-area: pathd}
.indexor_path {
	grid-area: path;
	border: solid 0.125rem transparent !important;
	padding: 0 0.25rem !important;
}
.indexor_content {grid-area: content}
.indexor_content:disabled {background-color: #800000}
.indexor_content:disabled::placeholder {color: #808080}
.indexor_content.invalid {color:#F00 !important}
.indexor_path.string {border-color: #FF0 !important}
.indexor_path.number {border-color: #0F0 !important}
.indexor_path.boolean {border-color: #0060FF !important}

.indexor_data_frame {
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 0.5rem;
	height: 100%;
	overflow: hidden;
}
.indexor_data {
	display: grid;
	padding: 0 0.5rem;
	gap: 0.5rem;
	max-height: 16rem;
	overflow: hidden auto;
	font-size: 0.875rem;
	word-break: break-all;
}