#page_frame {
	height:100%;
	width:100%;
	box-sizing:border-box;
	padding:0.5rem 0.5rem 0 0.5rem;
	position:absolute;
	overflow:hidden auto;
}

#information_box {
	width:100%;
	height:100%;
	display:grid;
	grid-template-rows:repeat(auto-fill,6.25rem);
	grid-template-columns:repeat(auto-fill,21.5rem);
	grid-gap:0.5rem;
	justify-content:center;
}

.information_card {
	display:block;
	position:relative;
	padding:0.5rem;
	box-sizing:border-box;
	border-radius:0.4rem;
	background-color:transparent;
	border:none;
	overflow:hidden;
}

.information_card:after {
	content:"";
	position:absolute;
	display:block;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.information_card:hover:after {background-color:rgba(0,0,0,5%)}
.information_card:active:after {background-color:rgba(0,0,0,10%)}

.information_card_frame {
	width:100%;
	height:100%;
	box-sizing:border-box;
	display:grid;
	grid-template-columns:1fr 1.5rem;
	grid-column-gap:0.5rem;
}

.information_card_enter {position:relative}

.information_card_enter:before,.information_card_enter:after {
	content:"";
	position:absolute;
	display:block;
	height:2rem;
	width:0.4rem;
	border-radius:2rem;
	background-color:#FFFFFF;
	right:0.2rem;
	bottom:50%;
	transform-origin:center 1.8rem;
	transform:translateY(0.2rem) rotate(-25deg);
}

.information_card_enter:after {
	top:50%;
	transform-origin:center 0.2rem;
	transform:translateY(-0.2rem) rotate(25deg);
}

#News {
	background-color:#FF8888;
	color:#FFFFFF;
}

#News_frame {
	display:grid;
	grid-template-columns:5.25rem 12.75rem;
	grid-template-rows:2.5rem 2.25rem;
	grid-gap:0.5rem;
	grid-template-areas:"icon title" "icon text";
}

#News_title {
	grid-area:title;
	font-size:2rem;
	place-self:start;
}

#News_icon {
	grid-area:icon;
	box-sizing:border-box;
	background-size:100%;
	background-image:url("/Images/cloud.png");
	opacity:1;
	transition:opacity 0.5s;
}

#News_icon.normal {
	border-radius:0.5rem;
	border:solid 0.2rem #FFFFFF;
	background-color:#FFFFFF;
}

#News_text {
	grid-area:text;
	width:100%;
	text-align:left;
	font-size:0.9rem;
	white-space:nowrap;
	place-self:center;
	overflow:hidden;
	text-overflow:ellipsis;
	opacity:1;
	transition:opacity 0.5s;
}

#about_us {
	background-color:#92C1DC;
	color:#FFFFFF;
}

#about_us_frame {
	display:grid;
	grid-template-columns:5.25rem 1fr;
	grid-column-gap:0.5rem;
}

#about_us_logo {
	background-image:url("/Images/cloud.png");
	background-size:100%;
}

#about_us_title {
	font-size:2rem;
	place-self:center start;
}