#editor_page_indexed_edit {
	display: grid;
	grid-template-rows: 2rem 2rem 1fr;
	overflow: hidden;
}
#editor_page_indexed_edit > div {
	display: grid;
	height: 100%;
}

#indexed_edit_variables,#indexed_edit_indexor {
	background-color: #333;
	padding: 0 0.5rem;
	grid-template-columns: auto auto;
	justify-content: start;
	align-items: center;
	gap: 0.5rem;
}

#indexed_edit_index_set {
	border: solid #000 0.125rem;
	border-radius: 0.25rem;
	height: 1.5rem;
	width: 7rem;
	font-size: 0.875rem;
	text-align: end;
}

#indexed_edit_indexor_add {
	width: 1.5rem;
	height: 1.5rem;
}

#indexed_edit_indexor_frame {
	padding: 0.5rem;
	overflow-y: auto;
	grid-auto-rows: min-content;
	gap: 0.5rem;
}

.indexor {
	display: grid;
	background-color: #444;
	padding: 0.5rem;
	border-radius: 0.5rem;
	gap: 0.5rem;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: repeat(3, 1.75rem);
	grid-template-areas: "title title remove""pathd path path""content content content";
	align-items: center;
}
.indexor>input {
	height: 1.75rem;
	border: 0;
	border-radius: 0.25rem;
	font-size: 1rem;
	padding: 0 0.375rem;
	background-color: #222;
	color: #FFF;
}
.indexor_title {
	grid-area: title;
	color: #00BFFF !important;
}
.indexor_remove {
	grid-area: remove;
	width: 1.75rem;
	height: 1.75rem;
	border: 0;
	background-color: #F00;
	display: block;
	position: relative;
}
.indexor_remove:hover {background-color: var(--hoverColor)}
.indexor_remove:active {background-color: var(--activeColor)}
.indexor_remove:before,.indexor_remove:after {
	content: "";
	position: absolute;
	display: block;
	background-color: #000;
	left: 0.25rem;
	right: 0.25rem;
	top: 0.8125rem;
	bottom: 0.8125rem;
	transform: rotate(45deg);
	border-radius: 0.0625rem;
}
.indexor_remove:after {transform: rotate(135deg)}
.indexor_path_d {grid-area: pathd}
.indexor_path {
	grid-area: path;
	border: solid 0.125rem transparent !important;
	padding: 0 0.25rem !important;
}
.indexor_content {grid-area: content}
.indexor_content:disabled {background-color: #800000}
.indexor_content:disabled::placeholder {color: #808080}
.indexor_content.invalid {color:#F00 !important}
.indexor_path.invalid {border-color: #F00 !important}
.indexor_path.string {border-color: #FF0 !important}
.indexor_path.number {border-color: #0F0 !important}
.indexor_path.boolean {border-color: #0060FF !important}

.indexor_data_frame {
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 0.5rem;
	height: 100%;
	overflow: hidden;
}
.indexor_data {
	display: grid;
	padding: 0 0.5rem;
	gap: 0.5rem;
	max-height: 16rem;
	overflow: hidden auto;
	font-size: 0.875rem;
	word-break: break-all;
}